.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
    margin:0 auto;
}

/*
.evaluation{
    position:absolute;
    top:10px;
    left:10px;
}

.total_evaluations{
    position:absolute;
    top:40px;
    left:10px;
}*/

.info{
    float: right;
    display: block;
    background:#fff;
    height: 60px;
    padding: 12px;
    border-radius: 10px;
    line-height: 24px;
    font-size: 17px;
    width: 220px;
    height: 140px;
    border:4px solid lightblue;;
    color:black;
}

.chessboard .square{
    cursor:pointer;
}

.chessboard .square.active,
.chessboard .square.target
{
   background-color: lightblue;
   -moz-box-shadow:    inset 0 0 1px #000000;
   -webkit-box-shadow: inset 0 0 1px #000000;
   box-shadow:         inset 0 0 1px #000000;
}


.chessboard .square.target:hover{
    filter: brightness(75%);
}

.chessboard .square.inactive{
    background-color: lightcoral;
 }

.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.button{
    color:white;
    cursor:pointer;
        padding: 0 2em;
        overflow: hidden;
        background:  lightskyblue;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
        border: 1px solid;
        margin-top:10px;
    }


@media only screen and (max-width: 1281px) {
    .info {
    width: 100;
    position: absolute;
    bottom: 70px;
    right: 50px;
    }
  }